div#flexDiv {
    display: flex;
}

#cityContent{
    width: 30%;
}
div#cityContent * {
    margin: 0;
    padding: 0;
}

div#flexDiv {
    background-color: aqua;
    width: calc( 25% - 30px );
    padding: 10px;
    border: 3px solid;
    box-sizing: border-box;
    display: inline-block;

}
